/* always import fonts on top */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";
/* very imp for using the dark selector */
@custom-variant dark (&:where(.dark, .dark *)); 

html {
  scroll-behavior: smooth;
}
* {
    /* padding: 0; */
    /* margin: 0; */
    font-family: "Poppins", "Courier New";
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    display: none;
  } 
  
  @font-face {
    font-family: saibaFont;
    src: url("/saiba-45.regular.otf");
  }

  .saiba-font{
    font-family: saibaFont;
  }

  @layer base {
    :root {
        --background: #f9fafb;
        --purple-foreground:#9333ea;
        --foreground: black;
        --border: 240 5.9% 90%;
        }
    .dark {
        --background: black;
        --purple-foreground:#9333ea;
        --foreground: #f9fafb;
        --border: 240 3.7% 15.9%;
    }
  }
  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-scale{
    animation: animatedScale 2s ease infinite;
}
@keyframes animatedScale {
    0% {
        /* background-position: 0% 50%; */
        /* scale: 0; */
        transform: translateY(-10px);
        /* display: ; */
    }
    
    50% {
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}

  .left-layer-div{
    background: linear-gradient(120deg,rgba(0, 0, 0, 0.8),rgba(147, 51, 234,0.3),rgba(0, 0, 0, 0.8));
  }
  .left-layer-div-card{
    background: linear-gradient(120deg,rgba(0, 0, 0),rgb(72, 4, 136),rgba(0, 0, 0));
  }

@property --angle{
syntax: "<angle>";
initial-value: 0deg;
inherits: false;

}

  .border-glow-animation{
    --angle:0deg;
    background-image: conic-gradient(from var(--angle),transparent 80%,rgba(255,255,255,0.5));
    animation: 5s linear spin-border infinite;
  }
  .border-glow-animation-white{
    --angle:0deg;
    background-image: conic-gradient(from var(--angle),transparent 45%,white 50%,transparent 60%);
    animation: 5s linear spin-border infinite;
  }

  @keyframes spin-border {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
  }


  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    /* gap: 20px; */
    /* border: 1px solid red; */
  }
  .embla__slide {
    /* flex: 0 0 50%; */
    min-width: 0;
    user-select: none;
  }

  @media (min-width: 320px) {
    .embla__slide {
      flex: 0 0 90%;
    }
  }
  @media (min-width: 768px) {
    .embla__slide {
      flex: 0 0 50%; 
    }
  }

  #slide1{
    /* background-image:  */
    background: rgba(0, 0, 0, 0.80) url("assets/EmotionallyIntelligentAvatar.webp");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #slide2{
    /* background-image:  */
    background: rgba(0, 0, 0, 0.80) url("assets/crypto.png");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #slide3{
    /* background-image:  */
    background: rgba(0, 0, 0, 0.80) url("assets/learning.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  #slide4{
    /* background-image:  */
    background: rgba(0, 0, 0, 0.80) url("assets/aiforbusiness.jpg");
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .popular-pricing{
    position: relative;
    overflow: hidden;
  } 

  .popular-pricing:before{
    content: '';
    position: absolute;
    width: 150%;
    height: 100%;
    background: linear-gradient(120deg,transparent 45%,#a855f7,transparent 60% );
    top: 0%;
    animation: shine-animation 2s infinite linear;
  }

  @keyframes shine-animation {
    0%{left: -150%;}
    100%{left: 100%;}
  }
.most-popular-toast{
  background: linear-gradient(120deg,#2563eb,#0891b2,#059669,#84cc16);

}

.faqs-card{
  background-color: rgba(234, 216, 216, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}
.faqs-card:before{
  z-index: -1;
  position: absolute;
  background: linear-gradient(240deg,rgba(192, 132, 252,0.1),transparent);
  /* background: linear-gradient(240deg,rgba,transparent); */
  content: '';
  width: 100%;
  height: 100%;
}

.faqs-card-small{
  background-color: rgba(234, 216, 216, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}
.faqs-card-small:before{
  z-index: -1;
  position: absolute;
  background: linear-gradient(240deg,rgba(88, 28, 135,0.8),transparent);
  content: '';
  width: 100%;
  height: 100%;
}


.semi-light{
  background: radial-gradient(circle at right ,rgba(88, 28, 135,0.8),rgba(59, 7, 100,0.5) 20%,transparent);
  height: 100%;
  width: 100%;
}

.fade-gradient{
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0.8),
    rgba(0,0,0,0),
    rgba(0,0,0,0),
    rgba(0,0,0,0),
    rgba(0,0,0,0.8)
  );
}
.metalic-text{
  /* position: relative; */
  background: linear-gradient(to bottom,
  rgba(255,255,255,1),
  rgba(255,255,255,0.7),
  rgba(255,255,255,0.1)
  );
  color: transparent; 
  background-clip: text;
  
}

.button {
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 8px;
  /* display: block; */
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.button {
  font-weight: 500;
}
.button {
  font-size: 14px;
  line-height: 20px;
}

.button-primary:before {
  background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, 0) 100%), rgba(113, 47, 255, .12);
  box-shadow: inset 0 0 8px #bf97ff3d;
}
.button:before, .button:after {
  content: "";
  display: block;
  transition: .2s opacity cubic-bezier(.6,.6,0,1);
}
.button:before, .button:after, .button-border {
  border-radius: inherit;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.button-primary:after {
  background: linear-gradient(180deg, rgba(60, 8, 126, 0) 0%, rgba(60, 8, 126, 0) 100%), rgba(113, 47, 255, .24);
  box-shadow: inset 0 0 8px #bf97ff70;
}
.enterprise-div{
  background-color: rgba(234, 216, 216, 0.05);
  position: relative;
  /* z-index: 10; */
}
.enterprise-div:before{
  /* z-index: -1; */
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(120deg,black,#3b0764,black);
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.purple-fade-text{
  background: linear-gradient(180deg,
  white,
  #7e22ce 80%,
  #4c1d95
  );
  color: transparent; 
  background-clip: text;
}
.purple-fade-text-slant{
  background: linear-gradient(120deg,
  white,
  #7e22ce 80%,
  #4c1d95
  );
  color: transparent; 
  background-clip: text;
}
