/* always import fonts on top */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "tailwindcss";
/* very imp for using the dark selector */
@custom-variant dark (&:where(.dark, .dark *)); 

html {
  scroll-behavior: smooth;
}
* {
    /* padding: 0; */
    /* margin: 0; */
    font-family: "Poppins", "Courier New";
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    display: none;
  } 
  
  @layer base {
    :root {
        --background: #f9fafb;
        --purple-foreground:#9333ea;
        --foreground: black;
        --border: 240 5.9% 90%;
        }
    .dark {
        --background: black;
        --purple-foreground:#9333ea;
        --foreground: #f9fafb;
        --border: 240 3.7% 15.9%;
    }
  }
  .animate-gradient {
    background-size: 300%;
    -webkit-animation: animatedgradient 6s ease infinite alternate;
    -moz-animation: animatedgradient 6s ease infinite alternate;
    animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animate-scale{
    animation: animatedScale 2s ease infinite;
}
@keyframes animatedScale {
    0% {
        /* background-position: 0% 50%; */
        /* scale: 0; */
        transform: translateY(-10px);
        /* display: ; */
    }
    
    50% {
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}

  .left-layer-div{
    background: linear-gradient(120deg,rgba(0, 0, 0, 0.8),rgba(147, 51, 234,0.3),rgba(0, 0, 0, 0.8));
  }
  .left-layer-div-card{
    background: linear-gradient(120deg,rgba(0, 0, 0),rgb(72, 4, 136),rgba(0, 0, 0));
  }

@property --angle{
syntax: "<angle>";
initial-value: 0deg;
inherits: false;

}

  .border-glow-animation{
    --angle:0deg;
    background-image: conic-gradient(from var(--angle),transparent 80%,rgba(255,255,255,0.5));
    animation: 5s linear spin-border infinite;
  }

  @keyframes spin-border {
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
  }


  .embla {
    overflow: hidden;
  }
  .embla__container {
    display: flex;
    /* gap: 20px; */
    /* border: 1px solid red; */
  }
  .embla__slide {
    flex: 0 0 50%;
    min-width: 0;
    user-select: none;
    /* border: 1px solid blue; */
  }